<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title> Box | CYBER FRAMEWORK 1.0.0 </title>
        <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/png">
        <link rel="icon" href="../images/favicon-32x32.png" type="image/png">
        <meta property="fb:app_id" content="206954636391257" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Cyber Framework 1.0.0" />
        <meta property="og:description" content="cyber framework, max width 1200 px, 15 colume, flat ui style" />
        <meta property="og:url" content="https://drivesoft.co.th/cyber" />
        <meta property="og:site_name" content="cyber dot drivesoft dot net" />
        <meta property="og:image" content="../images/demo.png" />
        <meta name="keywords" content="CSS, CSS Framework, Open Source" />
        <meta name="description" content="cyber framework, max width 1200 px, 15 colume, flat ui style" />
        <meta name="author" content="Eakkabin Jaikeawma <eakkabin@drivesoft.co.th>" />
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" type="text/css" href="../vendor/cyber-framework/1.0.0/styles/cyber.min.css?v=1.0.0" />
        <link rel="stylesheet" type="text/css" href="../vendor/cyber-framework/1.0.0/styles/cyber-component.min.css?v=1.0.0" />
        <link rel="stylesheet" type="text/css" href="../vendor/prismjs/1.0.0/prism-okaidia.min.css?v=1.0.0" />
		<link rel="stylesheet" type="text/css" href="../vendor/font-awesome/4.7.0/css/font-awesome.min.css?v=1.0.0" />
        <link rel="stylesheet" type="text/css" href="../assets/styles/cyber-document.min.css?v=1.0.0" />
		<style> .col > div { padding: 2em 0 3.3em 0; } .col > .div { min-height: 80px; } </style>
		<script type="text/javascript" src="../assets/scripts/ga.js?v=1.0.0"></script>
    </head>
    <body id="top">
    	<header class="header">
			<div class="container-fluid">
				<div class="row fluid">
					<div class="col-7">
						<a href="../"><h1 class="logo-name font-raleway color-turquoise">Cyber <small class="font-sans-serif">1.0.0</small></h1></a>
					</div>
					<div class="col-8">
						<ul class="navbar">
							<li><a href="../getting-started/index.html">Guide</a></li>
							<li>Example</li>
							<li>Theme</li>
							<li>API</li>
						</ul>
					</div>
				</div>	
			</div>
    	</header>
	    <div class="container">
			<div class="row">
				<div class="col-11">
		            <h1 class="doc-title" id="three"> Box 3 Column </h1>
					<div class="row">
						<div class="box-three">
							<a class="box-list" href="#" onClick="return false;">
								<img src="../images/example-1.jpg" title="Machine" />
								<label class="bg-emerland"> Machine </label>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
							</a>
							<a class="box-list" href="#" onClick="return false;">
								<img src="../images/example-2.jpg" title="Technology" />
								<label class="bg-alizarin"> Technology </label>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
							</a>
							<a class="box-list" href="#" onClick="return false;">
								<img src="../images/example-3.jpg" title="Tour" />
								<label class="bg-twitter"> Tour </label>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
							</a>
						</div>
					</div>
					<pre><code class="language-html">&lt;div class="box-three"&gt;
	&lt;a class="box-list" href="#"&gt;
		&lt;img src="path/to/file.jpg" title="Machine" /&gt;
		&lt;label class="bg-emerland"&gt; Machine &lt;/label&gt;
		&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. &lt;/p&gt;
	&lt;/a&gt;
	&lt;a class="box-list" href="#"&gt;
		&lt;img src="path/to/file.jpg" title="Technology" /&gt;
		&lt;label class="bg-alizarin"&gt; Technology &lt;/label&gt;
		&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. &lt;/p&gt;
	&lt;/a&gt;
	&lt;a class="box-list" href="#"&gt;
		&lt;img src="path/to/file.jpg" title="Tour" /&gt;
		&lt;label class="bg-twitter"&gt; Tour &lt;/label&gt;
		&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. &lt;/p&gt;
	&lt;/a&gt;
&lt;/div&gt;</code></pre><br /><br />
					<h1 class="doc-title" id="horizontal"> Box Horizontal </h1>
					<div class="row">
						<div class="box-horizontal">
							<div class="box-list clearfix">
								<div class="box-left">
									<img src="../images/example-2.jpg" title="Technology" />
									<label class="bg-emerland"> Technology </label>
									<span><i class="fa fa-camera" aria-hidden="true"></i></span>
								</div>
								<div class="box-right">
									<div class="detail">
										<h2> Lorem Ipsum is simply </h2>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> <hr />
										<span> 
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 3, 2013&nbsp;
											<i class="fa fa-comment-o" aria-hidden="true"></i> 9 Comments&nbsp;
											<i class="fa fa-map-marker" aria-hidden="true"></i> Public&nbsp; 
											<i class="fa fa-eye" aria-hidden="true"></i> 124 views 
										</span>
									</div>
								</div>
							</div>
							<div class="box-list clearfix">
								<div class="box-left">
									<img src="../images/example-1.jpg" title="Machine" />
									<label class="bg-peterriver"> Machine </label>
									<span><i class="fa fa-camera" aria-hidden="true"></i></span>
								</div>
								<div class="box-right">
									<div class="detail">
										<h2> Lorem Ipsum is simply </h2>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> <hr />
										<span> 
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 3, 2013&nbsp;
											<i class="fa fa-comment-o" aria-hidden="true"></i> 9 Comments&nbsp;
											<i class="fa fa-map-marker" aria-hidden="true"></i> Public&nbsp; 
											<i class="fa fa-eye" aria-hidden="true"></i> 124 views 
										</span>
									</div>
								</div>
							</div>
							<div class="box-list clearfix">
								<div class="box-left">
									<img src="../images/example-3.jpg" title="Tradition" />
									<label class="bg-carrot"> Tradition </label>
									<span><i class="fa fa-camera" aria-hidden="true"></i></span>
								</div>
								<div class="box-right">
									<div class="detail">
										<h2> Lorem Ipsum is simply </h2>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> <hr />
										<span> 
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 3, 2013&nbsp;
											<i class="fa fa-comment-o" aria-hidden="true"></i> 9 Comments&nbsp;
											<i class="fa fa-map-marker" aria-hidden="true"></i> Public&nbsp; 
											<i class="fa fa-eye" aria-hidden="true"></i> 124 views 
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<pre><code class="language-html">&lt;div class="box-horizontal"&gt;
	&lt;div class="box-list clearfix"&gt;
		&lt;div class="box-left"&gt;
			&lt;img src="path/to/file.jpg" title="Technology" /&gt;
			&lt;label class="bg-emerland"&gt; Technology &lt;/label&gt;
			&lt;span&gt;&lt;i class="fa fa-camera" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
		&lt;/div&gt;
		&lt;div class="box-right"&gt;
			&lt;div class="box-detail"&gt;
				&lt;h2&gt; Lorem Ipsum is simply &lt;/h2&gt;
				&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod 
					tempor incididunt ut labore et dolore magna aliqua. &lt;/p&gt; &lt;hr /&gt;
				&lt;span&gt; 
					&lt;i class="fa fa-calendar-check-o" aria-hidden="true"&gt;&lt;/i&gt; June 3, 2013&nbsp;
					&lt;i class="fa fa-comment-o" aria-hidden="true"&gt;&lt;/i&gt; 9 Comments&nbsp;
					&lt;i class="fa fa-map-marker" aria-hidden="true"&gt;&lt;/i&gt; Public&nbsp; 
					&lt;i class="fa fa-eye" aria-hidden="true"&gt;&lt;/i&gt; 124 views 
				&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="box-list clearfix"&gt;
		&lt;div class="box-left"&gt;
			&lt;img src="path/to/file.jpg" title="Machine" /&gt;
			&lt;label class="bg-peterriver"&gt; Machine &lt;/label&gt;
			&lt;span&gt;&lt;i class="fa fa-camera" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
		&lt;/div&gt;
		&lt;div class="box-right"&gt;
			&lt;div class="box-detail"&gt;
				&lt;h2&gt; Lorem Ipsum is simply &lt;/h2&gt;
				&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod 
					tempor incididunt ut labore et dolore magna aliqua. &lt;/p&gt; &lt;hr /&gt;
				&lt;span&gt; 
					&lt;i class="fa fa-calendar-check-o" aria-hidden="true"&gt;&lt;/i&gt; June 3, 2013&nbsp;
					&lt;i class="fa fa-comment-o" aria-hidden="true"&gt;&lt;/i&gt; 9 Comments&nbsp;
					&lt;i class="fa fa-map-marker" aria-hidden="true"&gt;&lt;/i&gt; Public&nbsp; 
					&lt;i class="fa fa-eye" aria-hidden="true"&gt;&lt;/i&gt; 124 views 
				&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="box-list clearfix"&gt;
		&lt;div class="box-left"&gt;
			&lt;img src="path/to/file.jpg" title="Tradition" /&gt;
			&lt;label class="bg-carrot"&gt; Tradition &lt;/label&gt;
			&lt;span&gt;&lt;i class="fa fa-camera" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
		&lt;/div&gt;
		&lt;div class="box-right"&gt;
			&lt;div class="box-detail"&gt;
				&lt;h2&gt; Lorem Ipsum is simply &lt;/h2&gt;
				&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod 
					tempor incididunt ut labore et dolore magna aliqua. &lt;/p&gt; &lt;hr /&gt;
				&lt;span&gt; 
					&lt;i class="fa fa-calendar-check-o" aria-hidden="true"&gt;&lt;/i&gt; June 3, 2013&nbsp;
					&lt;i class="fa fa-comment-o" aria-hidden="true"&gt;&lt;/i&gt; 9 Comments&nbsp;
					&lt;i class="fa fa-map-marker" aria-hidden="true"&gt;&lt;/i&gt; Public&nbsp; 
					&lt;i class="fa fa-eye" aria-hidden="true"&gt;&lt;/i&gt; 124 views 
				&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre><br /><br />
					<h1 class="doc-title" id="vertical"> Box Vertical </h1>
					<div class="row">
						<div class="box-vertical">
							<div class="box-list">
								<div class="box-top">
									<img src="../images/example-1.jpg" title="Machine" />
									<label class="bg-peterriver"> Machine </label>
									<span><i class="fa fa-camera" aria-hidden="true"></i></span>
								</div>
								<div class="box-bottom">
									<div class="box-detail">
										<h2> Lorem Ipsum is simply </h2>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p> <hr />
										<span> 
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 3, 2013&nbsp;
											<i class="fa fa-comment-o" aria-hidden="true"></i> 9 Comments&nbsp;
											<i class="fa fa-map-marker" aria-hidden="true"></i> Public, News&nbsp; 
											<i class="fa fa-eye" aria-hidden="true"></i> 124 views 
										</span>
									</div>
								</div>
							</div>
							<div class="box-list">
								<div class="box-top">
									<img src="../images/example-2.jpg" title="Technology" />
									<label class="bg-emerland"> Technology </label>
									<span><i class="fa fa-camera" aria-hidden="true"></i></span>
								</div>
								<div class="box-bottom">
									<div class="box-detail">
										<h2> Lorem Ipsum is simply </h2>
										<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p> <hr />
										<span> 
											<i class="fa fa-calendar-check-o" aria-hidden="true"></i> June 3, 2013&nbsp;
											<i class="fa fa-comment-o" aria-hidden="true"></i> 9 Comments&nbsp;
											<i class="fa fa-map-marker" aria-hidden="true"></i> Public, News&nbsp; 
											<i class="fa fa-eye" aria-hidden="true"></i> 124 views 
										</span>
									</div>
								</div>
							</div>
						</div>	
					</div>	
					<pre><code class="language-html">&lt;div class="box-vertical"&gt;
	&lt;div class="box-list"&gt;
		&lt;div class="box-top"&gt;
			&lt;img src="path/to/file.jpg" title="Machine" /&gt;
			&lt;label class="bg-peterriver"&gt; Machine &lt;/label&gt;
			&lt;span&gt;&lt;i class="fa fa-camera" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
	    &lt;/div&gt;
	    &lt;div class="box-bottom"&gt;
	        &lt;div class="box-detail"&gt;
				&lt;h2&gt; Lorem Ipsum is simply &lt;/h2&gt;
				&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod 
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. &lt;/p&gt; &lt;hr /&gt;
				&lt;span&gt; 
					&lt;i class="fa fa-calendar-check-o" aria-hidden="true"&gt;&lt;/i&gt; June 3, 2013&nbsp;
					&lt;i class="fa fa-comment-o" aria-hidden="true"&gt;&lt;/i&gt; 9 Comments&nbsp;
					&lt;i class="fa fa-map-marker" aria-hidden="true"&gt;&lt;/i&gt; Public, News&nbsp; 
					&lt;i class="fa fa-eye" aria-hidden="true"&gt;&lt;/i&gt; 124 views 
				&lt;/span&gt;
			&lt;/div&gt;
	    &lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="box-list"&gt;
		&lt;div class="box-top"&gt;
			&lt;img src="path/to/file.jpg" title="Technology" /&gt;
			&lt;label class="bg-emerland"&gt; Technology &lt;/label&gt;
			&lt;span&gt;&lt;i class="fa fa-camera" aria-hidden="true"&gt;&lt;/i&gt;&lt;/span&gt;
		&lt;/div&gt;
		&lt;div class="box-bottom"&gt;
			&lt;div class="box-detail"&gt;
				&lt;h2&gt; Lorem Ipsum is simply &lt;/h2&gt;
				&lt;p&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sed do eiusmod tempor 
				    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.. &lt;/p&gt; &lt;hr /&gt;
				&lt;span&gt; 
					&lt;i class="fa fa-calendar-check-o" aria-hidden="true"&gt;&lt;/i&gt; June 3, 2013&nbsp;
					&lt;i class="fa fa-comment-o" aria-hidden="true"&gt;&lt;/i&gt; 9 Comments&nbsp;
					&lt;i class="fa fa-map-marker" aria-hidden="true"&gt;&lt;/i&gt; Public, News&nbsp; 
					&lt;i class="fa fa-eye" aria-hidden="true"&gt;&lt;/i&gt; 124 views 
				&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>	
				</div>
				<div class="col-4" style="padding-left:15px;padding-right:15px;">
					<div class="panel" style="margin-top:65px;">
                        <div class="panel-header"> Box: </div>
						<div class="panel-body">
							<ul>
								<li><a href="#three"> Box 3 column </a></li>
								<li><a href="#horizontal"> Box Horizontal </a></li>
								<li><a href="#vertical"> Box Vertical </a></li>
							</ul>
						</div>
                    </div>
					<div class="panel" style="margin-top:10px;">
                        <div class="panel-header"> Component: </div>
						<div class="panel-body">
							<ul>
								<li><a href="box.html"> Box </a></li>
								<li><a href="panel.html"> Panel </a></li>
							</ul>
						</div>
                    </div>
				</div>
			</div>	
		</div> <br /><br /><br /><br />
		<a href="#top" class="to-top">Top</a>
	    <script type="text/javascript" src="../vendor/jquery/2.2.4/jquery.min.js?v=1.0.0"></script>
	    <script type="text/javascript" src="../vendor/prismjs/1.0.0/prism.min.js?v=1.0.0"></script>
		<script type="text/javascript" src="../assets/scripts/main.min.js?v=1.0.0"></script>
    </body>
</html>